<header class="header">
  <div class="logo">
    <img src="../../assets/imgs/GulBozor-Logo 1.svg" alt="logo" />
  </div>
  <nav class="nav">
    <div class="search-bar">
      <input type="search" placeholder="search..." />
    </div>
    <ul class="links">
      <li><a>Home</a></li>
      <li><a>Blog</a></li>
      <li><a>Contact</a></li>
    </ul>
  </nav>
  <div class="others">
    <div class="likes">
      <img src="../../assets/imgs/heart 1.svg" alt="likes" />
    </div>
    <div class="lang">
      <img src="../../assets/imgs/uzbekistan 1.svg" alt="lang" />
      <img src="../../assets/imgs/icons8-chevron-down-30 2.svg" />
    </div>
    <div class="account">
      <img src="../../assets/imgs/icons8-account-30 1.svg" alt="account" />
      <img src="../../assets/imgs/icons8-chevron-down-30 2.svg" />
    </div>
  </div>
</header>
