<section class="new-shop">
  <div class="container">
    <form class="shop-form">
      <div class="shop-form-header">
        <div class="shop-form-header-img">
          <img src="../../assets/imgs/florist 1.png" alt="house with flowers" />
        </div>
        <h2>Create flower shop</h2>
      </div>
      <div class="shop-form-body">
        <input
          type="text"
          class="shop-input shop-name"
          placeholder="shop's name"
        />
        <input
          type="text"
          class="shop-input phone-number"
          placeholder="phone number +(998)"
        />
        <input
          type="text"
          class="shop-input card-number"
          placeholder="deposit card number (xxxx xxxx xxxx xxxx)"
        />
        <div class="selection">
          <select class="shop-input regions">
            <option class="shop-input">select region</option>
          </select>
          <select class="shop-input cities">
            <option class="shop-input">select city</option>
          </select>
        </div>
        <input
          type="text"
          class="shop-input street-and-house"
          placeholder="Street and house number"
        />
        <button type="submit" class="shop-submit">Submit</button>
      </div>
    </form>
    <div class="shop-img">
      <img src="../../assets/imgs/flowers 1.png" alt="gul bozor" />
    </div>
  </div>
</section>
